/myWork/public_html/node_modules
/myWork/public_html/public/styl
/myWork/public_html/public/prodaction
3lesson_home_work/jade/index.jade
3lesson_home_work/styl/style.styl
myWork/public_html/debug.log
myWork/public_html/bundle.min.css